.new {
	background: #b9fdb9;
}

#order-tabs{
	position: relative;
}

.order-tab{
	width: 100%;
	height: 55px;
	position: absolute!important; /* For muuri... */
}
#tw-toggle-live{
	width: 15px;
	height: 15px;
	border: 1px solid red;
	border-radius: 100%;
	animation: 2s live infinite;
	margin-right: 5px;
	display: inline-block;
	cursor: pointer;
}
#tw-toggle-live.disabled{
	animation:none;
	border-color: grey;
}

@keyframes live {
	0% {
		background : red;
		box-shadow: 0 0 4px 0px red;
	}
	25% {
		background: white;
		box-shadow: 0 0 0px 0px red;
	}
	100% {
		background: red;
		box-shadow: 0 0 4px 0px red;
	}
}

#tw-response-time{
	opacity: .8;
	font-weight: bold;
	font-size: 75%;
}

.alert.alert-flash {
	position: fixed;
	top: 3%;
	z-index: 1000;
	left: 5%;
	right: 5%;
}
span#tw-live-version {
	display: inline-block;
	position: relative;
	top: -10px;
	font-size: x-small;
	color: #80808096;
}
.btn-misc{
	background-color: #777;
	color: white!important;
}
#filter-toggle {
	position: relative;
	margin: 0;
	padding: 0 10px;
	margin: 0 auto;
	display: block;
	top: -18px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
  }
#order-count{
	margin-top: 17px;
	li{
		margin-left: 3px;
	}
	.label{
		padding: 4px 8px;
	}
}